.tex-bod{
    height: 100vh;
    width: 100vw;
}
.tex-na1{
    height: 5.5vh;
    width: 100vw;
    color: white;
    font-size: 4.75vh;
    text-align: left;
    background-color: #00CD9B;
}
.tex-na2{
    height: 4.5vh;
    width: 100vw;
    background-color:black;
}
.tex-se1{
    height: 90vh;
    width: 50vw;
    border-right: 3px solid black;
}
.tex-se2{
    height: 90vh;
    width: 50vw;
    position: absolute;
    top:10vh;
    left: 50vw;
}
img{
    height: 500px;
    width: 386;
    border: 2px solid black;
    position: absolute;
    top: 80px;
    left: 125px;
}

.tex-cell{
    height: 0px;
    width: 0px;
    border: 1.5px solid red;
    position: absolute;
    top:0px;
    left: 0px;
    visibility: hidden;
}

button{
    color: white;
    border: none;
    font-size: 3vh;
    border: 1px solid black;
    background-color: black;
    position: absolute;
    top:5vh;
    left: 40vw;
}
input{
    height: 5vh;
    width: 35vw;
    position: absolute;
    top: 5vh;
    left: 4vw;
}
.tex-lis{
    height: 5vh;
    width: 20vw;
    margin: 2vh;
    color: white;
    text-align: center;
    font-size: 3vh;
    background-color: #00CD9B;
    border: 1.5px solid black;
    border-radius: 1vh;
}

.tex-lsp{
    position: absolute;
    top: 10vh;
    left: 3vw;
}